streamlit
pandas
numpy
scikit-learn
sentence-transformers
faiss-cpu
google-generativeai
python-dotenv
moviepy==1.0.3
opencv-python-headless
imageio
imageio-ffmpeg
fpdf
matplotlib
requests
plotly

